.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }

  .btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #5B8291;
    color: white;
    border: 1px solid #5B8291;
    margin: 0 1rem;
  }
  
  .btn:hover {
    background-color: #98DAD9;
    border-color: #98DAD9;
  }
  
  .btnalt {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    
    color: #5B8291;
    border: 1px solid #5B8291;
    margin: 0 1rem;
    background-color: white;
  }
  
  .btnalt:hover {
    background-color: #98DAD9;
    color: white;
  }

.con{
    position: relative;
    color: #643956;
    font-weight: 900;
    font-size: 20px;
    top: -12px;
}